In [2]:
import sys
print(sys.version)

3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]

In [3]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: D42D-DE20

 C:\python 디렉터리

2023-02-13  오전 10:32    <DIR>          .
2023-02-13  오전 10:32    <DIR>          ..
2023-02-13  오전 10:30    <DIR>          .ipynb_checkpoints
2023-02-13  오전 10:32               992 Test01.ipynb
               1개 파일                 992 바이트
               3개 디렉터리  175,730,290,688 바이트 남음

In [1]:
x=1
text = "# 주석아님"

In [2]:
print(x)

1

In [3]:
print(text)

# 주석아님

In [6]:
x='Hello, world!'
print(x)
print(x)
print("Python Programming")

Hello, world!
Hello, world!
Python Programming

In [7]:
13+(22-3)*4

89

In [9]:
13+((22-3)*4)/5

28.2

In [13]:
int(0.2467*12+4.159)

7

In [16]:
a=int(0.2467 * 12 + 4.159)
print("가장 시끄러운 층은 =", a, "층")

가장 시끄러운 층은 = 7 층

In [18]:
print("냉장고 가격은", 53000*24, "원 입니다.")

냉장고 가격은 1272000 원 입니다.

In [22]:
people = 250
book = 20000
tax = book*0.1
total = int(people * (book+tax)*3)

print("총 지불 해야 할 금액은", total, "원 입니다.")

총 지불 해야 할 금액은 16500000 원 입니다.

In [ ]:
hex(31)

'0x1f'

In [25]:
bin(20)

'0b10100'

In [26]:
oct(33)

'0o41'

In [30]:
# 왜곡이라는 스킬이 AP(Ability Power, 주문력)*0.6+225의 피해를 줍니다.
# AP가 아래와 같을 때 스킬 피해량을 구하시오.
AP = 380
왜곡 = AP * 0.6 +225
print(왜곡)

453.0

In [34]:
a=10
# a 변수 값에 20을 더한 결과를 다시 a에 하ㅓ할당
a=a+20

print(a)

30

In [35]:
del a
#변수 삭제

In [36]:
print("\"안녕?\"이라는 그 인사를 듣고 나는 '누구지?'라고 생각했다.")

"안녕?"이라는 그 인사를 듣고 나는 '누구지?'라고 생각했다.

In [ ]:
## 230214 수업

In [6]:
# 마지막에 \""" 하면 삼중따옴표가 역슬래시가 되어서
# 줄 바꿈이 되지 않게 변경하는 것이 아니라
# 문장이 끝나지 않는 오류(EOF)가 난다.

print("""\
안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.\
""")

안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [14]:
#삼중 따옴표를 사용해서 출력하기

print("""\
"안녕하세요"
나는 파이썬을 공부하고 있습니다.
반갑습니다.\
""")

# \"안녕하세요\" 안 해도 됨

"안녕하세요"
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [19]:
print("너무 "*7+ "파이썬 공부가 즐겁습니다.")
print("너무 "*7, "파이썬 공부가 즐겁습니다.") #띄어쓰기가 자동으로 됨

# sep라는 인자에 값을 설정하면 없앨 수 있음 <<<< 찾아보기

너무 너무 너무 너무 너무 너무 너무 파이썬 공부가 즐겁습니다.
너무 너무 너무 너무 너무 너무 너무  파이썬 공부가 즐겁습니다.

In [22]:
#문자열 인덱스
word = 'Python'
print(word[0] + word[-2] + word[5] + word[1])

Pony

In [26]:
#연습문제6
#인덱스는 0부터 시작!

sentence = '중요한 것은 꺾이지 않는 마음'
print(sentence[7])

꺾

In [30]:
#문자열 슬라이싱
word = 'Python'
print(word[::])

Python

In [32]:
print(sentence[5:42])

#초과 범위 슬라이싱 해도 IndexError와 다르게 유연하게 처리 됨

은 꺾이지 않는 마음

In [36]:
#연습문제7
#슬라이싱으로 '꺾이지 않는 마음' 출력

print(sentence[-9:])

꺾이지 않는 마음

In [73]:
#연습문제8
#'한요중'을 출력하라

print(sentence[-14::-1])
print(sentence[2::-1])

# 2 1 0 을 슬라이싱으로 표현하면 [2: :-1]
# -14 -15 -16 을 슬라이싱으로 [-14: : -1] 단순히 숫자를 +- 한다고 생각.

print(sentence[:3][::-1])  #참신한 방법

한요중
한요중
한요중

In [74]:
#리스트

squares = [ 1**2, 2**2, 3**2, 4**2, 5**2 ]
print(squares)
type(squares)

[1, 4, 9, 16, 25]

list

In [81]:
#리스트의 슬라이싱
squares[-2:]

[16, 25]

In [79]:
#리스트의 더하기
print(squares+[3,3])

[1, 4, 9, 16, 25, 3, 3]

In [78]:
#리스트의 곱하기
squares *2

[1, 4, 9, 16, 25, 1, 4, 9, 16, 25]

In [82]:
#리스트의 값은 가변(mutable)
cubes = [1, 8, 27, 65, 125] #65가 아니라 64가 올바른 값이라 수정하고 싶음
cubes[3] = 4**3 #인덱싱으로 값 변경
print(cubes)

[1, 8, 27, 64, 125]

In [86]:
#슬라이싱으로 변경 시 슬라이싱범위와 대입하는 값의 개수가 같아야 함!!

letters = ['a', 'b', 'c', 'd']
letters[2:5] = ['C', 'D', "E"]  #자동으로 추가됨
print(letters)

len(letters)

['a', 'b', 'C', 'D', 'E']

5

In [97]:
#공무원 시험 결과가 아래 리스트 형태로 제공되었다.
# 한 과목이라도 60점 미만이면 과락이다.
# 과락이면 False, 아니면 True를 출력하도록 코드를 완성해 보세요.

scores = [88, 73, 89, 59, 77]

scores[0]>=60 and scores[1]>=60 and scores[2]>=60\
    and scores[3]>=60 and scores[4]>=60

False

In [99]:
#리스트에 del 사용해보기

alpha = ['a', 'b', 'c']
del alpha[0]
print(alpha)
# ['b', 'c']

['b', 'c']

In [110]:
import time

start_time = time.time()
test = []

# 1,000,000번을 반복해서 tuple 만듭니다.
for _ in range(1_000_000):
    tp = (_, _) # tuple
    test.append(tp)

    #끝나는 시간 - 시작하는 시간
print(time.time() - start_time)

#동작하는 시간

0.21483516693115234

In [111]:
import time

start_time = time.time()
test = []

for _ in range(1_000_000):
    li = [_, _] # list
    test.append(li)

print(time.time() - start_time)

# list가 시간이 더 많이 걸린다. tuple이 빠르다!
# 동시성을 고려하면 tuple 적용 시켜야 할 때도 있음.

0.608726978302002

In [119]:
s1, s2 = "문도"

In [120]:
print(s1, s2)

문 도

In [127]:
#input 사용해보기

input_value = int(float(input("Message: ")))
print("input_value:", input_value, "\ntype:", type(input_value))

Message:  1.2

input_value: 1
type: <class 'int'>

In [128]:
#사용자의 이름을 물어보고
#이어서 2개의 정수를 받아서 덧셈을 한 후
#결과를 출력하는 프로그램을 작성해보세요

name = input("이름을 입력하시오:")
print(name, "씨, 안녕하세요?\n파이썬에 오신 것을 환영합니다.")
num1 = int(input("첫번째 정수를 입력하세요:"))
num2 = int(input("두번째 정수를 입력하세요:"))
print(num1,"과", num2,"의 합은", num1+num2, "입니다.")

이름을 입력하시오: 이주현

이주현 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫번째 정수를 입력하세요: 300
두번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

In [134]:
#연습문제
#경기장, 점수, 이긴 팀, 진팀, 우수 선수를 질문하고 변수에 저장
#문자열에 문장을 붙여서 기사를 작성

dorm = input("경기장은 어디입니까?")
vicTeam = input("이긴 팀은 어디입니까?")
failTeam = input("진 팀은 어디입니까?")
bestPlayer = input("우수 선수는 누구입니까?")
score = input("스코어는 몇대몇입니까?")

print("\n")
print("[속보]",vicTeam, "가",score,"로 승리...")
print("오늘",dorm,"경기장에서 야구 경기가 있었습니다.")
print(vicTeam,"와", failTeam,"는 치열한 공방전을 펼쳤습니다.")
print("이 경기에서", bestPlayer+"가 맹활약을 했습니다.")
print("그 끝내", vicTeam+"가", failTeam+"를", score,\
      "로 승리하였습니다.\n기사 끝.")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? KT
진 팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보] KT 가 10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호가 맹활약을 했습니다.
그 끝내 KT가 LG를 10:9 로 승리하였습니다.
기사 끝.

In [137]:
(hour, min, sec) = \
input("hh:mm:ss의 형태로 시간을 입력해 주세요.").split(':')

print("\n실행 결과:\n시 :", hour)
print("분 :", min)
print("초 :", sec)

hh:mm:ss의 형태로 시간을 입력해 주세요. 11:22:33

실행 결과:
시 : 11
분 : 22
초 : 33

In [176]:
#사용자 입력 값을 받고 list로 바꿔서 수치환산
#평균 점수 구하기

score = input("입력해주세요:").split(',')

kor, eng, mat, sci = map(int, score)

print(kor, eng, mat, sci) #입력받은 것이 tuple 형식으로 배분됨
print(type(kor)) #map 함수로 int 정상적으로 적용
print("평균 점수는", (kor+eng+mat+sci)/len(score), "점 입니다.")

입력해주세요: 10,10,20,20

10 10 20 20
<class 'int'>
평균 점수는 15.0 점 입니다.

In [179]:
#사용자 입력 값을 받고 list로 바꿔서 수치환산
#평균 점수 구하기

score = input("국어, 영어, 수학, 과학 점수를 입력해주세요:").split(',')
kor, eng, mat, sci = map(int, score)

print("실행 결과:")
print("평균 점수는", (kor+eng+mat+sci)/len(score), "점 입니다.")

국어, 영어, 수학, 과학 점수를 입력해주세요: 98,100,96,100

실행 결과:
평균 점수는 98.5 점 입니다.

In [183]:
A, B = map(int,input())
print(A+B)

 105

ValueError: too many values to unpack (expected 2)

In [ ]:
#230215

In [24]:
#sep, end 사용하기
#연습문제

year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2021/02/03 18:33:23

In [54]:
#연습문제
#사과는 하나에 1000원, 귤은 하나에 200원, 총액 계산
# input() 1회 작성, 입력 방식: 10,20
# map(), split() 활용
# 총 액수와 '원입니다.'는 붙여서 출력

num = input("사과와 귤을 몇개 드릴까요?").split(',')
                            #입력값이 10,20 형식이어야 함.
apple, mandarin = map(int, num)    #map(일괄 적용할 함수, 리스트나 변수)

print('총 가격은 ', apple*1000+mandarin*200, '원입니다.',sep=(''))

사과와 귤을 몇개 드릴까요? 10,20

총 가격은 14000원입니다.

In [64]:
#format() 사용하기
#중괄호 개수와 format() 메서드의 인수의 개수 차이가 나면 안 됨!!
#초과되는 인수는 버려짐, 부족하면 에러남(IndexError)

print("{}".format(10))
print('{} {} {}'.format(10,20,30))
print('{}  {}  {}  {}'.format(101,292,34,345))

10
10 20 30
101  292  34  345

In [63]:
#format과 삼중 따옴표 사용

import time

today = """오늘의 날짜를 알려드립니다!
{}년 {}월 {}일입니다.\
""".format(time.localtime().tm_year,
           time.localtime().tm_mon,
           time.localtime().tm_mday)

print(today)

오늘의 날짜를 알려드립니다!
2023년 2월 15일입니다.

In [68]:
#문자열의 f-string
a='안'
b='녕'
c='하시렵니'

print(f'{10}')
print(f'{a}     {b}   {c}      {"까"}')
                #중괄호 안에 '~~'문자열은 따옴표 달라야 됨

10
안     녕   하시렵니      까

In [82]:
#문자열의 f-string과 삼중따옴표

import time

today = f'''오늘의 날짜를 알려드립니다!
{time.localtime().tm_year}년 {time.localtime().tm_mon}월 \
{time.localtime().tm_mday}일입니다.\
'''

#줄바꿈 방지는 \
#줄바꿈은 \n

print(today)

오늘의 날짜를 알려드립니다!
2023년 2월 15일입니다.

In [88]:
#is 키워드

#좌 is 우
#좌우 객체를 비교하여 동일한 종류의 객체라면 True, 다르면 False

value1= 3
value2= 4
type(value1) is int
# type(value1) is 5 ->error
type(value1) is type(value2)

True

In [99]:
#아이디를 입력 받고 admin이면 관리자 권한, 또는 권한이 있다는 안내문 출력

ID = input('아이디를 입력하세요 :')

if ID == 'admin':
    print('최고 관리자, 모든 권한을 갖습니다.')
else:
    level = int(input('회원 등급을 입력해주세요 :'))
    if 1 <= level <= 3:
        print('제한적인 권한을 갖습니다.')
    else:
        print('권한이 없습니다.')

아이디를 입력하세요 : ddd
회원 등급을 입력해주세요 : 0

권한이 없습니다.

In [7]:
#사용자로부터 자연수를 입력받고
# 50을 뺀 값을 출력, 단 음수가 되면 0 출력
# 실행 결과: 자연수 하나 입력해주세요:

num = int(input("자연수 하나 입력해주세요:"))
if num<50:
    print(0)
else:
    print(num-50)

자연수 하나 입력해주세요: 55

5

In [14]:
# 모범~답안
num = int(input("입력하세요"))

result = num - 50

if result <0:
    result = 0

print(result)

입력하세요 40

0

In [15]:
#연습문제 

#자연수 입력 받고
#짝수인지 홀수인지 화면에 출력

num1 = int(input("자연수 하나 입력해 주세요:"))

if num1%2 ==0:    # %는 나머지를 구하는 기호
    print("짝수입니다.")
else:
    print("홀수입니다.")

자연수 하나 입력해 주세요: 55

홀수입니다.

In [19]:
#사용자로부터 과목별 점수를 입력 받고
#과목 평균 점수가 60점 이상일 때 합격
# 평균 점수에 따라 합격, 불합격을 출력하는 프로그램

sw1 = int(input("소프트웨어 설계 점수를 입력하세요."))
sw2 = int(input("소프트웨어 개발 점수를 입력하세요."))
db1 = int(input("데이터베이스 구축 점수를 입력하세요."))
pl1 = int(input("프로그래밍 언어 활용 점수를 입력하세요."))
sy1 = int(input("정보시스템 구축관리 점수를 입력하세요."))

sumScore = 0
midScore = 0

if sw1>=0 and sw1<=100:
    sumScore += sw1
    if sw2>=0 and sw2<=100:
        sumScore += sw2
        if db1>=0 and db1<=100:
            sumScore += db1
            if pl1>=0 and pl1<=100:
                sumScore += pl1
                if sy1>=0 and sy1<=100:
                    sumScore +=sy1
                    midScore = sumScore/5
                    if midScore>=60:
                        print("합격")
                    else: print("불합격")
                else: print("잘못된 점수입니다.")
            else: print("잘못된 점수입니다.")
        else: print("잘못된 점수입니다.")
    else: print("잘못된 점수입니다.")
else: print("잘못된 점수입니다.")

소프트웨어 설계 점수를 입력하세요. -7
소프트웨어 개발 점수를 입력하세요. 5
데이터베이스 구축 점수를 입력하세요. 68
프로그래밍 언어 활용 점수를 입력하세요. 56
정보시스템 구축관리 점수를 입력하세요. 100

잘못된 점수입니다.

In [22]:
#물의 온도에 따라 현재 상태로 출력하는 프로그램

water = float(input("현재 물의 온도를 입력해 주세요."))
if water<0:
    print("고체로 예상됩니다.")
elif water>100:
    print("기체로 예상됩니다.")
else:
    print("액체로 예상됩니다.")

현재 물의 온도를 입력해 주세요. 456

기체로 예상됩니다.

In [28]:
#시내버스 요금 연습문제
#19세 이상 1500원 / 청소년 12-18세 1100원 / 어린이 6-11세 800원 / 미취학 아동 무료

age = int(input("자신의 나이를 입력하세요."))
if age>=19:
    print("1500원입니다.")
elif age>=12:
    print("1100원입니다.")
elif age>=6:
    print("800원입니다.")
else:
    print("무료입니다.")

자신의 나이를 입력하세요. 15

1100원입니다.

In [57]:
#납품 문제
#A사는 B사에 C상품($10/개) 납품함
#수량할인 1000이상 1500이하 5% 할인
#1500 초과 2000 이하 10% 할인
# 2000 초과 20% 할인 소수점은 버림

# 발주수량을 입력하세요:
# 00개를 주문하셨습니다.
#적용 할인율은 00%입니다.
#총 발주금액은 $00입니다. 

count = int(input("발주 수량을 입력하세요:"))
print( count,'개를 주문하셨습니다.', sep=(''))

if count> 2000:
    #print("적용 할인율은 20%입니다.")
    sale = 0.2
elif count>1500:
    #print("적용 할인율은 10%입니다.")
    sale = 0.1
elif count>=1000 :
    #print("적용 할인율은 5%입니다.") -> 한 줄로 합치기
    sale = 0.05
else:
    sale = 0

print('적용 할인율은 ', int(sale*100),'%입니다.',sep=(''))
print("총 발주 금액은 $", int(count*(1-sale)*10),"입니다.",sep=(''))

발주 수량을 입력하세요: 2001

2001개를 주문하셨습니다.
적용 할인율은 20%입니다.
총 발주 금액은 $16008입니다.

In [4]:
#납품 문제
#A사는 B사에 C상품($10/개) 납품함
#수량할인 1000이상 1500이하 5% 할인
#1500 초과 2000 이하 10% 할인
# 2000 초과 20% 할인 소수점은 버림

# 발주수량을 입력하세요:
# 00개를 주문하셨습니다.
#적용 할인율은 00%입니다.
#총 발주금액은 $00입니다. 

#위에 거 format 문으로 작성해보기

price = 10 # $10/개

count = int(input("발주 수량을 입력하세요:"))
print( count,'개를 주문하셨습니다.', sep=(''))

if count> 2000:
    sale = 20
elif count>1500:
    sale = 10
elif count>=1000 :
    sale = 5
else:
    sale = 0


print(f'적용할인율은 {sale}%입니다.')
print(f'총 발주 금액은 ${int(price*count*(1-sale/100))}입니다.')

발주 수량을 입력하세요: 56545

56545개를 주문하셨습니다.
적용할인율은 20%입니다.
총 발주 금액은 $452360입니다.

In [69]:
#주민등록번호 뒷 7자리 중 1,3이면 남자
#2,4인 경우 여자, 성별을 확인하는 프로그램
# 7자리가 아니면 자리수를 잘못입력햇습니다
# 1234가 아니면 잘못된 입력입니다 출력

personNum = input('주민번호 뒷자리를 입력하세요:')
firstNum = int(personNum[0])

if len(personNum) != 7 :
    print('자리수를 잘못 입력했습니다.')
#else
    # firstNum = int(personNum[0]) else로 자르고 여기에 있어도 됨
#if first~
elif firstNum==1 or firstNum==3:
    print('남자')
elif firstNum==2 or firstNum==4:
    print('여자')
else:
    print('잘못된 입력입니다.')

주민번호 뒷자리를 입력하세요: 2485631

여자

In [79]:
#윤년 구하기
#연도 값을 입력 받고 윤년인지 아닌지 결과를 출력

#연도가 4로 나누어 떨어지는 경우: 윤년, 그 밖의 해: 평년
#예외 규칙: 100으로 나누어 떨어지되, 400으로 나누어 떨어지지 않는 해: 평년
#ex) 1900년도는 100으로 나누어 떨어지지만 400으로 나누어 떨어지지 않음

year = int(input('확인할 연도를 입력하세요:'))
if year%4 == 0:
    moon = '윤년'
    if year%100 ==0 and year%400 !=0:
        moon = '평년'
else:
    moon = '평년'

print(moon+'입니다.')

확인할 연도를 입력하세요: 1900

평년입니다.

In [95]:
#if 한 번만 쓰기

year = int(input('확인할 연도를 입력하세요:'))

if (year%100 ==0 and year%400 !=0) or year%4!=0:
    moon = '평년'
else:
    moon = '윤년'

print(moon+'입니다.')

확인할 연도를 입력하세요: 1900

평년입니다.

In [2]:
#list와 range가 동작하는 큰 차이점

#list는 Memory에 모든 값을 다 만들어 놓고 메모리 차지함.
#range는 만들 것을 알고 있으니까 필요할 때마다 만들어서 그때그때 제공
#메모리 적으로 range가 조금 더 효율적

for n in range(10):
    # range는 0에서 9까지 생성함.
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [1]:
#230216

In [2]:
#짝수 만들기
evenNum = list(range(2,100,2))
print(evenNum)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [6]:
type(range(8)) #range의 객체특성은 range

#range 객체는 반복(iterate)할 때 원하는 시퀀스 요소를 그때 그때 만들어서 반환함.
#    공간 효율적
#객체는 실제 메모리 상에서 존재하는 것

range

In [10]:
for i in range(10):
    print(f"Hello world {i+1}")
    #f-string이나 변수처럼 i 사용 가능
    #인덱스가 0부터 생성됨
    
for i in range(1,11):
    print("Hello world", i)

Hello world 1
Hello world 2
Hello world 3
Hello world 4
Hello world 5
Hello world 6
Hello world 7
Hello world 8
Hello world 9
Hello world 10
Hello world 1
Hello world 2
Hello world 3
Hello world 4
Hello world 5
Hello world 6
Hello world 7
Hello world 8
Hello world 9
Hello world 10

In [13]:
n = int(input('인사 몇 번 해 드릴까요?'))
for i in range(n):
    print('Hello world')

#합칠 수도 있다
for i in range(int(input('인사몇번?'))):
    print('hello')

인사 몇 번 해 드릴까요? 3

Hello world
Hello world
Hello world

인사몇번? 4

hello
hello
hello
hello

In [14]:
#list와 range를 사용해서 [5,6,7,8,9] [0,3,6,9], [-10,-40,-70]
#구현하시오

print(list(range(5,10)))
print(list(range(0,10,3)))
print(list(range(-10,-80,-30)))

[5, 6, 7, 8, 9]
[0, 3, 6, 9]
[-10, -40, -70]

In [34]:
#range 사용한 코드

input_value = int(input('자연수하나'))

for i in range(input_value, 0, -1):
    print(f'{i}\t'*i)

자연수하나 4

4	4	4	4
3	3	3
2	2
1

In [22]:
#for range() 활용
# \t 활용 (탭)

n = int(input('자연수 하나 입력해 주세요'))
for i in range(n):
    print((f'{n-i}\t')*(n-i))

자연수 하나 입력해 주세요 6

6	6	6	6	6	6
5	5	5	5	5
4	4	4	4
3	3	3
2	2
1

In [38]:
#for 두 번 쓰기
#답안
        
intValue = int(input('자연수 입력:'))
for i in range(intValue, 0, -1):    #입력값에서 1씩 줄어들며 1까지
    for j in range(i):              #한 줄 안에서 일어남
        print(i, end='\t')
    print()                         #한 줄 바꿔줌

자연수 입력: 4

4	4	4	4
3	3	3
2	2
1

In [30]:
n=6
print(n,'\t')
print((n,'\t')) #print 함수가 튜플은 그냥 출력함. (,)라서 튜플로 인식됨

6
(6, '\t')

In [45]:
#list와 range를 활용해서 구현하자

for i in range(10):
    if i==0 or i==9:
        print('* '*10)
    else:
        print('*',' '*15,'*')

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [110]:
#사용자부터 입력받은 자연수까지 홀수의 합 구하기
#1부터 입력받은 수까지 홀수 전체를 더하는 산식(1+2+3+)을 표현하고
#결과값까지 나오도록 하기 =6

num = int(input("1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다"))
sumValue = 0
    
if num%2==1 :    #입력한 값이 홀수일 때
    for i in range(1,num,2):    #num
        print(i,'+ ',end=(''))
        sumValue+=i
    print(num, '=', sumValue+num)
else:
    num = num -1    #입력한 값이 짝수일 때
    for i in range(1,num,2):
        print(i,'+ ',end=(''))
        sumValue+=i
    print(num, '=', sumValue+num)

1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다 11

1 + 3 + 5 + 7 + 9 + 11 = 36

In [70]:
# 강사님 답안

inputValue = int(input('1부터 입력한~ 구합니다:'))
result = 0
for i in range(1, inputValue +1):    # 홀수 고려하지 않고
    if i % 2 ==1 :                   # 여기서부터 홀수의 영역
        if (inputValue - 1) == i or inputValue ==i:
            print(i, end=' = ')      # 마지막만 =로 하고
        else:
            print(i, end=' + ')
        result += i                  # result
print(result)

1부터 입력한~ 구합니다: 5

1 + 3 + 5 = 9

In [91]:
# 짧은 답안
# 1부터 시작해서 ' + 숫자' 를 반복

inputVal = int(input('자연수'))
result = 1
print(1,end='')

for i in range(3, inputVal+1, 2):
    print(f' + {i}',end='')
    result += i

print(f'= {result}')

자연수 15

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15= 64

In [76]:
#Factorial(계승) 만들기

result=1

for i in range(int(input("계승을 구할 숫자를 입력하세요."))):
    result = result * (i+1)
print(result)

계승을 구할 숫자를 입력하세요. 7

5040

In [106]:
#for 문에 range() 대신 시퀀스 객체 사용 가능

for i in ['시','미','라','레','솔','도','파']:
    print(i,end=' ')    # end =' ' 붙여서 기본 줄바꿈 대신 뜨이ㅓ쓰기로 바꿈

# 시퀀스 객체 : 문자열, 튜플, 리스트 등 나중에 배우는 딕셔너리, set

시 미 라 레 솔 도 파

In [107]:
# reversed() 함수
# 리스트 method 인 reverse()와 다른 함수

for _ in reversed("일이삼사오"):    #뒤에서부터 읽어 옴
    print(_, end = ' ')    

list1 = ['일', '이', '삼', '사', '오']    
list1.reverse()    #리스트를 뒤집어서 아예 값을 바꿔버림
print(list1)

오 사 삼 이 일 ['오', '사', '삼', '이', '일']

In [109]:
x = [10, -42, 25, 103, 21, 77, 24 ] 

for i in x:
    print(i*10,end=' ')

100 -420 250 1030 210 770 240

In [113]:
#구구단 만들기

num = int(input("구구단을 알려드립니다. 숫자를 입력하세요."))

for i in range(1,10):
    print( num, '*', i, '=', num*i )

구구단을 알려드립니다. 숫자를 입력하세요. 15

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135

In [115]:
# 자연수 1부터 자연수까지 합 구하는 거

num = int(input("자연수를 입력해 주세요"))
sumValue = 0
for i in range(1, num+1):
    sumValue += i
print(sumValue)

자연수를 입력해 주세요 100

5050

In [118]:
for i in range(5):
    for j in range(5):
        print('*',end='')
    print()

*****
*****
*****
*****
*****

In [120]:
#while

i=0

while i<10 :
    print('Hi!',end =' ')
    i += 1

Hi! Hi! Hi! Hi! Hi! Hi! Hi! Hi! Hi! Hi!

In [121]:
#입력한 횟수대로 반복하는 예제

count = int(input('반복할 횟수를 입력하세요'))
while count >0:
    print('Hi!', count)
    count -= 1

반복할 횟수를 입력하세요 5

Hi! 5
Hi! 4
Hi! 3
Hi! 2
Hi! 1

In [125]:
# 1 이상 100 이하 짝수를 '\t'를 구분자로 출력
i=2
while i <= 100 :
    print(i,end='\t')
    i +=2

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100

In [127]:
#구구단 while 문

num = int(input('구구단을 알려드립니다. 숫자를 입력하세요.'))
i = 1

while i<10 :
    print(num, '*', i, '=', num*i)
    i+=1

구구단을 알려드립니다. 숫자를 입력하세요. 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [132]:
# while, for 리스트 순서대로 읽기

list1 = [ 'a', 'b', 'c', 'd', 'e' ]

#인덱스를 순서대로 접근할 수 있도록 제어할 변수
#0~3까지 1씩 증가
i=0
while i < len(list1) :
    print( list1[i], end=' ' )
    i +=1

print()
    
for _ in range(len(list1)):
    print( list1 [_], end=' ' )

a b c d e
a b c d e