In [2]:
import sys
print(sys.version)

3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]

In [3]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: D42D-DE20

 C:\python 디렉터리

2023-02-13  오전 10:32    <DIR>          .
2023-02-13  오전 10:32    <DIR>          ..
2023-02-13  오전 10:30    <DIR>          .ipynb_checkpoints
2023-02-13  오전 10:32               992 Test01.ipynb
               1개 파일                 992 바이트
               3개 디렉터리  175,730,290,688 바이트 남음

In [1]:
x=1
text = "# 주석아님"

In [2]:
print(x)

1

In [3]:
print(text)

# 주석아님

In [6]:
x='Hello, world!'
print(x)
print(x)
print("Python Programming")

Hello, world!
Hello, world!
Python Programming

In [7]:
13+(22-3)*4

89

In [9]:
13+((22-3)*4)/5

28.2

In [13]:
int(0.2467*12+4.159)

7

In [16]:
a=int(0.2467 * 12 + 4.159)
print("가장 시끄러운 층은 =", a, "층")

가장 시끄러운 층은 = 7 층

In [18]:
print("냉장고 가격은", 53000*24, "원 입니다.")

냉장고 가격은 1272000 원 입니다.

In [22]:
people = 250
book = 20000
tax = book*0.1
total = int(people * (book+tax)*3)

print("총 지불 해야 할 금액은", total, "원 입니다.")

총 지불 해야 할 금액은 16500000 원 입니다.

In [ ]:
hex(31)

'0x1f'

In [25]:
bin(20)

'0b10100'

In [26]:
oct(33)

'0o41'

In [30]:
# 왜곡이라는 스킬이 AP(Ability Power, 주문력)*0.6+225의 피해를 줍니다.
# AP가 아래와 같을 때 스킬 피해량을 구하시오.
AP = 380
왜곡 = AP * 0.6 +225
print(왜곡)

453.0

In [34]:
a=10
# a 변수 값에 20을 더한 결과를 다시 a에 하ㅓ할당
a=a+20

print(a)

30

In [35]:
del a
#변수 삭제

In [36]:
print("\"안녕?\"이라는 그 인사를 듣고 나는 '누구지?'라고 생각했다.")

"안녕?"이라는 그 인사를 듣고 나는 '누구지?'라고 생각했다.

In [ ]:
## 230214 수업

In [6]:
# 마지막에 \""" 하면 삼중따옴표가 역슬래시가 되어서
# 줄 바꿈이 되지 않게 변경하는 것이 아니라
# 문장이 끝나지 않는 오류(EOF)가 난다.

print("""\
안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.\
""")

안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [14]:
#삼중 따옴표를 사용해서 출력하기

print("""\
"안녕하세요"
나는 파이썬을 공부하고 있습니다.
반갑습니다.\
""")

# \"안녕하세요\" 안 해도 됨

"안녕하세요"
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [19]:
print("너무 "*7+ "파이썬 공부가 즐겁습니다.")
print("너무 "*7, "파이썬 공부가 즐겁습니다.") #띄어쓰기가 자동으로 됨

# sep라는 인자에 값을 설정하면 없앨 수 있음 <<<< 찾아보기

너무 너무 너무 너무 너무 너무 너무 파이썬 공부가 즐겁습니다.
너무 너무 너무 너무 너무 너무 너무  파이썬 공부가 즐겁습니다.

In [22]:
#문자열 인덱스
word = 'Python'
print(word[0] + word[-2] + word[5] + word[1])

Pony

In [26]:
#연습문제6
#인덱스는 0부터 시작!

sentence = '중요한 것은 꺾이지 않는 마음'
print(sentence[7])

꺾

In [30]:
#문자열 슬라이싱
word = 'Python'
print(word[::])

Python

In [32]:
print(sentence[5:42])

#초과 범위 슬라이싱 해도 IndexError와 다르게 유연하게 처리 됨

은 꺾이지 않는 마음

In [36]:
#연습문제7
#슬라이싱으로 '꺾이지 않는 마음' 출력

print(sentence[-9:])

꺾이지 않는 마음

In [73]:
#연습문제8
#'한요중'을 출력하라

print(sentence[-14::-1])
print(sentence[2::-1])

# 2 1 0 을 슬라이싱으로 표현하면 [2: :-1]
# -14 -15 -16 을 슬라이싱으로 [-14: : -1] 단순히 숫자를 +- 한다고 생각.

print(sentence[:3][::-1])  #참신한 방법

한요중
한요중
한요중

In [74]:
#리스트

squares = [ 1**2, 2**2, 3**2, 4**2, 5**2 ]
print(squares)
type(squares)

[1, 4, 9, 16, 25]

list

In [81]:
#리스트의 슬라이싱
squares[-2:]

[16, 25]

In [79]:
#리스트의 더하기
print(squares+[3,3])

[1, 4, 9, 16, 25, 3, 3]

In [78]:
#리스트의 곱하기
squares *2

[1, 4, 9, 16, 25, 1, 4, 9, 16, 25]

In [82]:
#리스트의 값은 가변(mutable)
cubes = [1, 8, 27, 65, 125] #65가 아니라 64가 올바른 값이라 수정하고 싶음
cubes[3] = 4**3 #인덱싱으로 값 변경
print(cubes)

[1, 8, 27, 64, 125]

In [86]:
#슬라이싱으로 변경 시 슬라이싱범위와 대입하는 값의 개수가 같아야 함!!

letters = ['a', 'b', 'c', 'd']
letters[2:5] = ['C', 'D', "E"]  #자동으로 추가됨
print(letters)

len(letters)

['a', 'b', 'C', 'D', 'E']

5

In [97]:
#공무원 시험 결과가 아래 리스트 형태로 제공되었다.
# 한 과목이라도 60점 미만이면 과락이다.
# 과락이면 False, 아니면 True를 출력하도록 코드를 완성해 보세요.

scores = [88, 73, 89, 59, 77]

scores[0]>=60 and scores[1]>=60 and scores[2]>=60\
    and scores[3]>=60 and scores[4]>=60

False

In [99]:
#리스트에 del 사용해보기

alpha = ['a', 'b', 'c']
del alpha[0]
print(alpha)
# ['b', 'c']

['b', 'c']

In [110]:
import time

start_time = time.time()
test = []

# 1,000,000번을 반복해서 tuple 만듭니다.
for _ in range(1_000_000):
    tp = (_, _) # tuple
    test.append(tp)

    #끝나는 시간 - 시작하는 시간
print(time.time() - start_time)

#동작하는 시간

0.21483516693115234

In [111]:
import time

start_time = time.time()
test = []

for _ in range(1_000_000):
    li = [_, _] # list
    test.append(li)

print(time.time() - start_time)

# list가 시간이 더 많이 걸린다. tuple이 빠르다!
# 동시성을 고려하면 tuple 적용 시켜야 할 때도 있음.

0.608726978302002

In [119]:
s1, s2 = "문도"

In [120]:
print(s1, s2)

문 도

In [127]:
#input 사용해보기

input_value = int(float(input("Message: ")))
print("input_value:", input_value, "\ntype:", type(input_value))

Message:  1.2

input_value: 1
type: <class 'int'>

In [128]:
#사용자의 이름을 물어보고
#이어서 2개의 정수를 받아서 덧셈을 한 후
#결과를 출력하는 프로그램을 작성해보세요

name = input("이름을 입력하시오:")
print(name, "씨, 안녕하세요?\n파이썬에 오신 것을 환영합니다.")
num1 = int(input("첫번째 정수를 입력하세요:"))
num2 = int(input("두번째 정수를 입력하세요:"))
print(num1,"과", num2,"의 합은", num1+num2, "입니다.")

이름을 입력하시오: 이주현

이주현 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫번째 정수를 입력하세요: 300
두번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

In [134]:
#연습문제
#경기장, 점수, 이긴 팀, 진팀, 우수 선수를 질문하고 변수에 저장
#문자열에 문장을 붙여서 기사를 작성

dorm = input("경기장은 어디입니까?")
vicTeam = input("이긴 팀은 어디입니까?")
failTeam = input("진 팀은 어디입니까?")
bestPlayer = input("우수 선수는 누구입니까?")
score = input("스코어는 몇대몇입니까?")

print("\n")
print("[속보]",vicTeam, "가",score,"로 승리...")
print("오늘",dorm,"경기장에서 야구 경기가 있었습니다.")
print(vicTeam,"와", failTeam,"는 치열한 공방전을 펼쳤습니다.")
print("이 경기에서", bestPlayer+"가 맹활약을 했습니다.")
print("그 끝내", vicTeam+"가", failTeam+"를", score,\
      "로 승리하였습니다.\n기사 끝.")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? KT
진 팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보] KT 가 10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호가 맹활약을 했습니다.
그 끝내 KT가 LG를 10:9 로 승리하였습니다.
기사 끝.

In [137]:
(hour, min, sec) = \
input("hh:mm:ss의 형태로 시간을 입력해 주세요.").split(':')

print("\n실행 결과:\n시 :", hour)
print("분 :", min)
print("초 :", sec)

hh:mm:ss의 형태로 시간을 입력해 주세요. 11:22:33

실행 결과:
시 : 11
분 : 22
초 : 33

In [176]:
#사용자 입력 값을 받고 list로 바꿔서 수치환산
#평균 점수 구하기

score = input("입력해주세요:").split(',')

kor, eng, mat, sci = map(int, score)

print(kor, eng, mat, sci) #입력받은 것이 tuple 형식으로 배분됨
print(type(kor)) #map 함수로 int 정상적으로 적용
print("평균 점수는", (kor+eng+mat+sci)/len(score), "점 입니다.")

입력해주세요: 10,10,20,20

10 10 20 20
<class 'int'>
평균 점수는 15.0 점 입니다.

In [179]:
#사용자 입력 값을 받고 list로 바꿔서 수치환산
#평균 점수 구하기

score = input("국어, 영어, 수학, 과학 점수를 입력해주세요:").split(',')
kor, eng, mat, sci = map(int, score)

print("실행 결과:")
print("평균 점수는", (kor+eng+mat+sci)/len(score), "점 입니다.")

국어, 영어, 수학, 과학 점수를 입력해주세요: 98,100,96,100

실행 결과:
평균 점수는 98.5 점 입니다.

In [183]:
A, B = map(int,input())
print(A+B)

 105

ValueError: too many values to unpack (expected 2)